@model Product


@* <h1> @ViewBag.SingleCategory.Name </h1> *@
<div class="container w-75 mx-auto">
    <div class="row">
        <div class="col">
            <h2 class="text-center"></h2>

            
            @* <form href="dishes/create" method="POST"> *@
            
                <div class="mb-3">
                    <ul>
                        @foreach (var category in ViewBag.AssociatedCategories)
                            {
                                <li>@category.Name</li>
                            }
                    </ul>
                </div>
                <form class="shadow p-3 rounded" asp-controller="Products" asp-action="AddProduct" method="POST">
                    <select asp-for="AllCategories" class="mb-4 form-control">
                        @foreach (Category category in ViewBag.ListedCategories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                    </select>
                <button class="btn btn-primary w-50" type="submit">Add</button>
            </form>
        
        </div>
    </div>
</div>